<h1>Answers to <%= @question.name %></h1>

<table>
  <tr>
    <th>Answer</th>
    <th>Author</th>
    <th></th>
  </tr>

<% @answer.each do |answer| %>
  <tr>
    <td><%= answer.name %></td>
    <td><%= answer.author.email if answer.author %></td>
    <td><%= link_to 'Edit', edit_question_answer_path(@question, answer) %></td>
    <td><%= link_to 'Destroy Answer', [@question, answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_question_answer_path(@question) %> |
<%= link_to 'Questions Index', questions_path %>
